<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="stylesheet" href="html\bulma.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="das sologo.png" />
        <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cyborg/bulmaswatch.min.css">
        <link rel="stylesheet" href="neu.css">
        <title>Seek Devs</title>
    </head>
    <body>
        <section class="hero is-dark is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-5-tablet is-5-desktop is-5-widescreen">
                            <form class="neu">
                                <div class="boxi">
                                    <div class="field has-text-centered">
                                        <button class="button is-danger is-outlined is-rounded">
                                            <a href="landing.html"> Voltar </a>
                                        </button>
                                        <button class="button is-danger is-outlined is-rounded">
                                            <a href="landingdev.html"> Dev </a>
                                        </button>
                                        <br>
                                        <br>
                                        Escolha um dev
                                        <br>
                                        <br>
                                        <div>
                                            <button class="button is-danger is-outlined is-rounded">
                                                <a href="contratarm1.html">
                                                    Contratar mais de um
                                                </a>
                                            </button>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div>
                                            <img src="user.png" alt="50px">
                                            <button class="button is-danger is-outlined is-rounded">
                                                <a href="dev1.html">
                                                    Cainã
                                                </a>
                                            </button>
                                            <br>
                                            <br>
                                            <button class="button is-danger is-outlined is-rounded">
                                                <a href="pg1.html">
                                                    Contratar Dev
                                                </a>
                                            </button>
                                        </div>    
                                        <br>
                                        <br>
                                        <br>
                                        <div>
                                            <img src="user.png" alt="50px">
                                            <button class="button is-danger is-outlined is-rounded">
                                                <a href="dev2.html">
                                                    Anthony
                                                </a>
                                            </button>
                                            <br>
                                            <br>
                                            <button class="button is-danger is-outlined is-rounded">
                                                <a href="pg1.html">
                                                    Contratar Dev
                                                </a>
                                            </button>
                                        </div>
                                        <br>
                                        <br>
                                        <br>    
                                        <div>
                                            <img src="user.png" alt="50px">
                                            <button class="button is-danger is-outlined is-rounded">
                                                <a href="dev3.html">
                                                    Leonardo
                                                </a>
                                            </button>
                                            <br>
                                            <br>
                                            <button class="button is-danger is-outlined is-rounded">
                                                <a href="pg1.html">
                                                    Contratar Dev
                                                </a>
                                            </button>
                                        </div>
                                        <br>    
                                        <br>
                                        <br>
                                        <html id="top">
                                            <body>
                                                <a href="#top">Ir para o topo</a>
                                            </body>
                                        </html>
                                    </div>
                                </div>    
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </section>
    </body>
</html>