<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="neu.css">
        <link rel="stylesheet" href="bulma.min.css">
        <link rel="shortcut icon" type="image/x-icon" href="das sologo.png" />
        <title>Dev and Seek</title>
    </head>
    <body>
        <section class="hero is-dark is-fullheight">
            <div class="hero-body">
                <div class="art">
                    <nav class="navbar">
                        <a href="#" class="logo"><img src="das logo.png"></a>
                        <input type="checkbox" id="toggler">
                        <label for="toggler"><i class="ri-menu-line"></i></label>
                        <div class="menu">
                            <br>
                            <br>
                            <br>
                            <ul class="list">
                                <li><a href="login.html">Login</a></li>
                                <li><a href="ctt.html">Contato</a></li>
                            </ul>
                        </div>
                    </nav>
                    <img src="img1.png"> <img src="img2.png">
                </div>
            </div> 
        </section>
    </body>
</html>