<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="html\bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="das sologo.png" />
    <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cyborg/bulmaswatch.min.css">
    <link rel="stylesheet" href="neu.css">
    <title>Login page</title>
</head>

<body>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                        <form class="neu">
                            <div class="boxi">
                                <div class="field has-text-centered">
                                    <img src="das logo.png" alt="50px">
                                </div>
                                <div class="field has-text-left">
                                    <button class="button is-danger is-outlined is-rounded">
                                        <a href="landing.html"> Voltar </a>
                                    </button>
                                </div>
                                <div class="field">
                                    <label class="label">
                                        E-mail
                                    </label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="email" placeholder="nome@dominio.com">
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">
                                        Senha
                                    </label>
                                    <div class="control has-icons-left">
                                        <input class="input" type="password" minlength="6" maxlength="10"
                                            placeholder="********">
                                        <span class="icon is-small is-left">
                                            <i class="fa-solid fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        Manter-se conectado
                                    </label>
                                </div>
                                <div class="field">
                                    <button class="button is-danger is-outlined is-rounded">
                                        <a href="home.html">
                                            Entrar
                                        </a>
                                    </button>
                                </div>
                                <div class="field">
                                    <button class="button is-danger is-outlined is-rounded">
                                        <a href="esqueci.html">
                                            Esqueci minha senha
                                        </a>
                                    </button>
                                </div>
                                <div class="field">
                                    <button class="button is-danger is-outlined is-rounded">
                                        <a href="hhome.html">
                                            Cadastre-se
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>